<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41214656913-j7676dq1fq1jlvaer2v5uv3u24c8jp2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41214656913-j7676dq1fq1jlvaer2v5uv3u24c8jp2l</string>
	<key>API_KEY</key>
	<string>AIzaSyArSjeA34lr0MSLCyB2J5M7jZg9b_Ja_LY</string>
	<key>GCM_SENDER_ID</key>
	<string>41214656913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stanphillips.DriveTribe</string>
	<key>PROJECT_ID</key>
	<string>drivetribe-214ed</string>
	<key>STORAGE_BUCKET</key>
	<string>drivetribe-214ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41214656913:ios:1da61fe598ef9dfa505a30</string>
</dict>
</plist>